.header {
  display: flex;
  justify-content: center;
}

.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 80%;
  margin: 10px;
}

li a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  color: orangered;
}

.butonn {
  height: 30px;
  width: 100px;
  background-color: orangered;
  color: white;
  border-radius: 10px;
  transition: all 0.2s;
}

.butonn:hover {
  width: 110px;
  height: 35px;
  transition: all 0.2s;
}

.box {
  cursor: pointer;
  left: 8%;
  display: flex;
  position: relative;
  align-items: center;
}

.lucy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* .mainul {
  display: flex;
  flex-direction: column;
} */
